/*margin: top right bottom left */
.Text{
  margin-left: 20%;
  padding: 1px ;
  height:1000px;
}


/* Navigation UI V */
.Navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%

  overflow: hidden;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/*padding: top right bottom left */
.Navigation li a {
  display: block;
  color: #000;
  padding: 4px 4px ;
  text-decoration: none;
}

.Navigation li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.Navigation li a.active {
  background-color: #4CAF50;
  color: white;
}

#ProjectImages img {
  /* float: left; */
  border: 1px solid black;
  display: block;
  width: 25%;

}

#Gif1 img {
  display: block;
  width: 15%;
  height: auto;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/*when the screen is sized below 800PX margin-left changes*/
@media screen and (max-width: 800px) {
  .Text{
    margin-left: 30%;
  }
}
